@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=PT+Mono&family=Share+Tech+Mono&display=swap');

/* font-family: 'Gemunu Libre', sans-serif;
font-family: 'PT Mono', monospace;
font-family: 'Share Tech Mono', monospace; */


*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'PT Mono', monospace;
    background-color: #01b0d342;
}
    

.main{
    display: flex;
}

/* LAYOUT ONE */

.layout__one{
 display: none;
}

.layout__one__active{
    display: block;
    color: #fff;
    position: absolute;
    width: 30%;
    height: 100vh;
}

.document__title{
    padding: 10px 0;
    background-color: #242333;
}

.document__title:hover{
    background-color: #fff;
    color: #242333;
}

.document__text{
    text-align: center;
    position: relative;
    margin-bottom: 12em ;
    display: block;
}

.document__text:hover .document__data{
    display: flex;
    width: 100%;
    background-color: #242333;
}

.document__data{
    display: none;
    position: absolute;
    left: 0;
}

.list{
    list-style: none;
    text-align: start;
    margin: 10px 5px;
    font-size: 0.85rem;
}



/* LAYOUT TWO */


.layout__two{
    background-color: #242333;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 40%;
    height: 100vh;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p{
    color: #fff;
}


header{
    font-family: 'Gemunu Libre', sans-serif;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px ;
    background-color: #242333;
    font-size: 1.75rem;
}

.title:hover{
    color: yellow;

}

.header__btn, .burger__menu{
    margin: 10px;
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.display{
    border: 2.5px solid #24233380;
    font-family: 'Share Tech Mono', monospace; ;
    height: 200px;
    background-color:azure;
    font-size: 4rem;
    text-align: end;
}

.display__mini{
    padding: 15px 0;
    height: 40%;
    font-style: italic;
    font-size: 1.5rem;
}

.display__large{
    height: 60%;
    margin: auto 10px;

}

.buttons{
    background-color: #01b0d3c0;
    height: 530px;
}

.burger__menu{
    background-color: rgba(220, 20, 60, 0.5);
}

.burger__menu:hover{
    background-color: crimson
}

.git{
    background-color: rgba(255, 127, 80,0.5);
}

.git:hover{
    background-color: coral;
}

.color__toggle{
    background-color:rgba(128, 255, 0, 0.5);
}

.color__toggle:hover{
    background-color: chartreuse;
}

.btn{
    font-family: 'Share Tech Mono', monospace;
    background-color: #242333;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin: 20px 5px;
    width: 150px;
    height: 60px;
    font-size: 1.25rem;
}

.btn:hover{
    background-color: #fff;
    color: black;
    font-style: italic;
}

.btn:active,btn:focus{
transform: scale(1.2)
}

.big__btn{
    width: 235px;
}
.footer{
    margin: 50px 0;
}

.footer a{
    text-decoration: none;
    color: #fff; 
}

.footer a:hover{
    text-shadow: 1px 1px 0.2px dodgerblue;
}



/* LAYOUT THREE */


.layout__three{
     display: none;
}

.layout__three__active{
   
    display: block;
    color: #fff;
    position: absolute;
    width: 30%;
    height: 100vh;
    right: 0;
}

.color__display{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.color__btn{
    color: black;
    font-size: 1.15rem;
    border: none;
    padding: 11px 25px;
    width: 30%;
    border-radius: 100px;
}

.dark{
    background-color: slategray;
}

.light{
    background-color: gainsboro;
}

.blue{
    background-color: deepskyblue;
}

.green{
    background-color: forestgreen;
}

